runtime: python
env: flex
entrypoint: gunicorn -b :$PORT main:app

automatic_scaling:
    min_num_instances: 2

# INSERT YOUR SECRETS BELOW

# env_variables:
#     TWILIO_ACCOUNT_SID: your-account-sid
#     TWILIO_AUTH_TOKEN: your-auth-token
